.book{
  display: flex;
  width: 30%;
  min-height: 190px;
  height: auto;
  margin: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.book_image{
  width: 30%;
}

.book_info{
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.book_info h3{
  font-size: 1.2rem;
  margin: 0;
}

.book_info hr{
  border-color: var(--secondary-color);
  width: 100%;
}

.book_info p{
  font-size: 1rem;
  margin: .2rem;
}

.input_add{
  width: 70%;
  height: 25px;
  align-self: center;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
  cursor: pointer;
}


.book_info label{
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

.amount_input{
  width: 15%;
}

.added{
  background-color: var(--primary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}


@media screen and (max-width: 425px){
  .book{
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .book_image{
    display: none;
  }
}