.books_container {  
  display: flex;
  justify-content: center;
  height: auto;
  padding: 30px;
}

.books_list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

@media screen and (max-width: 425px){
  .books_list{
    flex-direction: column;
    justify-content: center;
  }
}