:root{
  --primary-color: #FFF;
  --secondary-color: #0070F3;
  --tertiary-color: #000;
  --primary-font-color: #000;
  --secondary-font-color: #FFF;
  --danger-color: #BF170B;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;

}